html
  head
    title #{title}
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') ExpressAuth
      .collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if !user
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/register') Register
          else
            li.nav-item
              a.nav-link(href='/upload') Upload
            li.nav-item
              a.nav-link(href='/logout') Logout
    .container
      if messages
        each message, index in messages
          div.alert.alert-#{message.type} #{message.text}
      block content
