extends layout

block content
  h2 Register
  form(method='POST' action='/register')
    input(type='hidden' name='_csrf' value=csrfToken)
    .form-group
      label(for='username') Username
      input#username.form-control(type='text', name='username' required)
    .form-group
      label(for='email') Email
      input#email.form-control(type='email', name='email' required)
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', name='password' required)
    .form-group
      label(for='confirm_password') Confirm Password
      input#confirm_password.form-control(type='password', name='confirm_password' required)
    button.btn.btn-primary(type='submit') Register
